body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}
.btn-primary {
  background-color: #f0c040;
  color: #000000;
}
.products {
  /* to display the items one next to another */
  display: flex;
  /* make it responsive(?) */
  flex-wrap: wrap;
  /* display all in the center */
  justify-content: center;
}
.rating span {
  color: #ffc000;
}
.product {
  /* border for each item */
  border: 1px #404040 solid;
  /* space between the products */
  margin: 1rem;
}
.product img {
  /* the image width will take 100% from the product's border */
  width: 100%;
  /* max width for image he put 400px*/
  max-width: 400px;
}
.product-info {
  /* space btw the image and the text */
  padding: 1rem;
}
.img-large {
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}
